---
layout: default
---

<div class="main-post-list hidden">

  <ol class="post-list">
    <!--目录-->
    <li>
      <h2 class="post-list__post-title post-title"><a href="/category/customview" title="访问 自定义View教程目录">[目录]Android自定义View教程</a></h2>
      <p class="excerpt"> <b>一个从零起步的自定义View教程。</b><br/>
      本教程从最基础的内容讲解，并且深入到了相关的各个细节，不论你是刚入门的菜鸟，还是有一定经验的工程师相信本系列文章都会对你有所帮助。
      你可以将本教程当作学习资料来学习自定义View相关的各种知识，也可以作为工具来使用，在需要的时候查询相关的一些知识细节。</p>
      <div class="post-list__meta"> 目录 &#8226; GcsSloop <a class="btn-border-small" href="/category/customview">继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    <li>
      <h2 class="post-list__post-title post-title"><a href="/category/gebug" title="访问 自定义View教程目录">[目录]雕虫晓技</a></h2>
      <p class="excerpt"> <b>简单技术的深度挖掘，从简单中发现不简单</b><br/>
      雕虫晓技这一系列文章的定位为杂谈，因此你会发现里面不仅有 Android 相关技术，还有一些乱七八糟的工具推荐，一些与开发相关的小技巧，同时也会包括一些个人杂谈等内容。</p>
      <div class="post-list__meta"> 目录 &#8226; GcsSloop <a class="btn-border-small" href="/category/gebug">继续阅读</a></div>
      <hr class="post-list__divider" />
    </li>
    <!--置顶-->
    {% for post in site.posts %}
      {% if post.istop %}
        {% if paginator.page == 1 %}
        <li>
          <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">[置顶]{{ post.title }}</a></h2>
          <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 260 }}&hellip;</p>
          <div class="post-list__meta"><time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date | date: "%F"}}</time> &#8226; <span class="post-list__meta--tags tags">{{ post.category }}</span> <a class="btn-border-small" href={{ post.url }}>继续阅读</a></div>
          <hr class="post-list__divider" />
        </li>
        {% endif %}
      {% endif %}
    {% endfor %}
    <!--普通文档流-->
    {% for post in site.posts %}
    {% if post.hide %}
    {% else %}
      <li>
          <!--正常文档-->
          {% if post.relink %}
          <h2 class="post-list__post-title post-title"><a href="{{ post.relink }}" title="访问 {{ post.title }}" target="_blank">[专栏]{{ post.title }}</a></h2>
          <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 260 }}&hellip;</p>
          <div class="post-list__meta"><time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date | date: "%F"}}</time> &#8226; <span class="post-list__meta--tags tags">{{ post.category }}</span> <a class="btn-border-small" href={{ post.relink }} target="_blank">继续阅读</a></div>
          <hr class="post-list__divider" />
          {% else %}
          <h2 class="post-list__post-title post-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h2>
          <p class="excerpt">{{ post.content | strip_html | strip_newlines | truncate: 260 }}&hellip;</p>
          <div class="post-list__meta"><time datetime="{{post.date | date: date_to_xmlschema}}" class="post-list__meta--date date">{{ post.date | date: "%F"}}</time> &#8226; <span class="post-list__meta--tags tags">{{ post.category }}</span> <a class="btn-border-small" href={{ post.url }}>继续阅读</a></div>
          <hr class="post-list__divider" />
          {% endif %}
      </li>
    {% endif %}
    {% endfor %}
  </ol>

  {% include pagination.html %}

</div>

