---
layout: post
category: Info
title: Android自定义View教程目录
date: 1970-01-01 00:00:00.000000000 +00:00
tags: GcsSloop, gebug
keywords: GcsSloop, gcssloop
excerpt: Android自定义View教程目录
---

<p>
这是一个从零起步，从入门到懵逼的自定义View教程。本教程从最基础的内容讲解，并且深入到了相关的各个细节，不论你是刚入门的菜鸟，还是有一定经验的工程师相信本系列文章都会对你有所帮助。
<br/><br/>
你既可以将本教程当作学习资料来学习自定义View相关的各种知识，也可以作为工具来使用，在需要的时候查询相关的知识细节。
</p>

<h3>基础篇</h3>
<ul>
    <!--置顶-->
    {% for post in site.posts reversed %}
    {% if post.category == "CustomView" %}
    {% if post.title contains "安卓自定义View基础" %}
    <li>
        {% if post.relink %}
        <h1 class="time-line-title"><a href="{{ post.relink }}" title="访问 {{ post.title }}" target="_blank">{{ post.title }}[专栏]</a></h1>
        {% else %}
        <h1 class="time-line-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h1>
        {% endif %}
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>
<hr/>

<h3>进阶篇</h3>
<ul>
    <!--置顶-->
    {% for post in site.posts reversed %}
    {% if post.category == "CustomView" %}
    {% if post.title contains "安卓自定义View进阶" %}
    <li>
        {% if post.relink %}
        <h1 class="time-line-title"><a href="{{ post.relink }}" title="访问 {{ post.title }}" target="_blank">{{ post.title }}[专栏]</a></h1>
        {% else %}
        <h1 class="time-line-title"><a href="{{ post.url }}" title="访问 {{ post.title }}">{{ post.title }}</a></h1>
        {% endif %}
    </li>
    {% endif %}
    {% endif %}
    {% endfor %}
</ul>
<hr/>

<blockquote>
  <p><strong>⚠️ 警告：如果遇到文章中的示例测试结果于文章中效果不同，</strong><br />
<strong>请关闭硬件加速试试，</strong><br />
<strong>请关闭硬件加速试试，</strong><br />
<strong>请关闭硬件加速试试，</strong><br />
<strong>重要的话说三遍。</strong></p>

  <p><strong>如何关闭参考这里 <a href="https://github.com/GcsSloop/AndroidNote/issues/7">Android如何关闭硬件加速</a></strong></p>
</blockquote>

<p><a href="https://github.com/GcsSloop/AndroidNote"><strong>GitHub 版本点这里查看</strong></a></p>

<h3 id="博文修复计划">博文修复计划</h3>

<p>由于自己的知识水平有限，书写的文章难免会出现一些问题。</p>

<p>随着知识增长和知识面的扩大，发现了一些之前未曾注意到的问题，故有此博文修复计划，<strong>本次修复不仅会修复之前文章中的瑕疵和纰漏，甚至会对文章的知识结构稍作调整</strong>，所有修复的文章和调整后的内容都会在微博重新发布声明，点击下面关注我的微博可以第一时间了解到相关信息，另外据说关注我的微博会变帅哦。</p>

<blockquote>
  <p><strong>本次博文修复计划主要针对 个人博客 和 GitHub，由于博主精力有限以及某些平台自身限制，对于其他平台仅能修复部分内容。</strong></p>
</blockquote>

<h3 id="作者微博-gcssloop">作者微博: <a href="http://weibo.com/GcsSloop">@GcsSloop</a></h3>

<p><a href="http://www.gcssloop.com/info/about/" target="_blank"> <img src="http://ww4.sinaimg.cn/large/005Xtdi2gw1f1qn89ihu3j315o0dwwjc.jpg" width="300" style="display:inline;" /> </a></p>


